<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Signin Template for Bootstrap</title>
		<!-- 引入webjars中的公共资源
		@{} ：链接url表达式
		webjars：表示是一个webjars的请求
		bootstrap/4.0.0/css/bootstrap.css ：文件的具体路径
		-->
		<link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet">
		<!-- 引入自定义资源 ,不需要webjars，直接引用-->
		<link th:href="@{/asserts/css/signin.css}" rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" th:action="@{/user/login}" th:method="post" >
			<img class="mb-4" th:src="@{/asserts/img/bootstrap-solid.svg}" alt="" width="72" height="72">
			<!-- #{} ：消息表达式 -->
			<h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}"></h1>
			<!-- ${} ：变量表达式 -->
			<p th:text="${msg}" th:if="${not #strings.isEmpty(msg)}" style="color:red"></p>
			<label class="sr-only" th:text="#{login.username}"></label>
			<input type="text" name="username" class="form-control" th:placeholder="#{login.username}" required="" autofocus="">
			<label class="sr-only" th:text="#{login.password}"></label>
			<input type="password" name="password" class="form-control" th:placeholder="#{login.password}" required="">
			<div class="checkbox mb-3">
				<label>
          			<input type="checkbox" value="remember-me"> [[#{login.remember}]]
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.btn}"></button>
			<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
			<!--th:href 链接 @{/url(k1='v2',k2='v2')}-->
			<a class="btn btn-sm" th:href="@{/login.html(l='zh_CN')}">中文</a>
			<a class="btn btn-sm" th:href="@{/login.html(l='en_US')}">English</a>
		</form>

	</body>

</html>