<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf 语法</title>
</head>
<body>
    <h2>ITDragon Thymeleaf 语法</h2>
    <!--th:text 设置文本内容-->
    <p th:text="${thText}"></p>
    <p th:utext="${thUText}"></p>

    <!--th:each 遍历列表-->
    <div th:each="message : ${thEach}"> <!-- 遍历整个div-p，不推荐-->
        <p th:text="${message}"></p>
    </div>
    <div> <!--只遍历p，推荐使用-->
        <p th:text="${message}" th:each="message : ${thEach}"></p>
    </div>
    <div> <!--只遍历p，推荐使用-->
        <p th:each="message : ${thEach}">[[${message}]]</p>
    </div>


</body>
</html>